@use "variables" as v;
@use "mixins";

.header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 998;
  background: v.$background-color;
  height: 52px;

  @include mixins.viewport-desktop {
    height: 56px;
  }
}
.burger {
  width: 24px;
  height: 24px;
}
.logo {
  width: 83px;
  height: 28px;

  @include mixins.viewport-desktop {
    width: 87px;
  }
}
.radio,
.star,
.notific,
.comment {
  width: 22px;
  height: 22px;
}
.radio-cont {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  @include mixins.viewport-desktop {
    display: none;
  }
}
