@use "mixins";
@use "variables" as v;

.page {
  @include mixins.viewport-desktop {
    width: 100%;
  }
}
.cont-wrapp-title {
  display: flex;
  padding: 16px 20px;
  align-items: center;

  @include mixins.viewport-mobile {
    display: none;
  }
}
.icon-ball {
  width: 16px;
  height: 16px;
}
.footb {
  border-right: 1px solid v.$border-color;
  padding-right: 16px;
  padding-left: 8px;
}
.medal {
  padding-left: 16px;
  padding-right: 8px;
  color: v.$black-b2;
}
.layout-cont {
  display: flex;
  flex-direction: column;
  padding: 12px;

  @include mixins.viewport-desktop {
    flex-direction: row;
    padding: 24px 20px;
    justify-content: space-between;
    gap: 20px;
  }
}
.hidden {
  display: none;
}

.active {
  font-weight: bold;
  color: v.$black-e5;
  background-color: v.$yellow-color;
}
.border-wrap {
  border-top: 1px solid v.$border-color;
  border-bottom: 1px solid v.$border-color;
  padding: 16px 20px;

  @include mixins.viewport-mobile {
    border-top: none;
    border-bottom: none;
  }
}
.list {
  display: flex;
}
.season {
  color: v.$black-61;
  padding-top: 8px;
}
.element {
  padding-right: 12px;
}
#el::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url("/public/img/ext.png") no-repeat center center;
  background-size: contain;
  margin-right: 8px;
  fill: currentColor;
}
.league {
  border: 1px solid v.$border-color;
  @include mixins.viewport-desktop {
    padding: 24px 24px 11px 24px;
  }
}
.ukr-league {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  @include mixins.viewport-desktop {
    padding-left: 24px;
  }
}
.img-title {
  display: flex;
  padding: 16px 16px 24px 16px;
  @include mixins.viewport-desktop {
    padding: 0;
  }
}
.list-title {
  display: flex;
  justify-content: space-around;
  gap: 12px;
  border-top: 1px solid v.$border-color;
  padding: 11px 0px 11px 0px;
  color: v.$black-8a;
  font-weight: 400;
  // font-size: 12px;
  @include mixins.viewport-desktop {
    border-top: none;
    padding: 0;
  }
}
.first-li {
  padding-left: 16px;
  @include mixins.viewport-desktop {
    padding-left: 104px;
  }
}
.active-li {
  position: relative;
  display: inline-block;
  font-weight: 500;
  color: v.$black-b2;
}
.active-li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: v.$active-color;
}
.desc-vis {
  @include mixins.viewport-mobile {
    display: none;
  }
}
.features-icon {
  width: 6px;
  height: 6px;
}

.tabs-section {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 9px;
  padding-bottom: 16px;

  @include mixins.viewport-desktop {
    flex-direction: row;
    align-items: center;
    padding-top: 28px;
    padding-right: 16px;
    justify-content: space-between;
    padding-bottom: 12px;
  }
}
.btn-gen {
  width: 85px;
}
.btn-hom {
  width: 61px;
}
.btn-aw {
  width: 79px;
}
.icon-td {
  width: 18px;
  height: 18px;
}
.cont-qualific {
  padding-top: 18px;
  padding-bottom: 12px;
  @include mixins.viewport-desktop {
    padding-top: 0;
  }
}
.qualific-title,
.abbr-title,
.form-title {
  padding-bottom: 6px;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.features-li {
  display: flex;
  gap: 15px;
  align-items: center;
}
.champ {
  padding-left: 15px;
  @include mixins.viewport-mobile {
    display: none;
  }
}
.champ-li {
  @include mixins.viewport-desktop {
    gap: 0;
  }
}
.cont-wrap-abbr {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  max-width: 336px;
  height: 108px;
  padding-bottom: 32px;
  @include mixins.viewport-desktop {
    flex-wrap: nowrap;
  }
}
.letter {
  display: inline-block;
  width: 28px;
  padding-right: 8px;
  font-weight: 500;
}
.long-abbr {
  display: inline-block;
  width: 134px;
}
.cont-long {
  display: flex;
  align-items: start;
}
.last-conts {
  @include mixins.viewport-desktop {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
  }
}
.lett-visibl {
  display: none;
  @include mixins.viewport-desktop {
    display: block;
  }
}
.lett-hidd {
  @include mixins.viewport-desktop {
    display: none;
  }
}
.form-cont {
  display: none;
  @include mixins.viewport-desktop {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
}
.form-item {
  display: flex;
  gap: 8px;
}
