@use "mixins";
@use "variables" as v;

.head-tabl {
  background-color: v.$background-head;
  color: v.$white-ff;
  font-size: 12px;
  font-weight: 500;
  height: 28px;
  @include mixins.viewport-desktop {
    font-weight: 400;
  }
}
.group-table {
  width: 100%;
  margin-bottom: 8px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 4px v.$table-color;
  border-collapse: collapse;
}
.form-td,
.tabl-5 {
  width: 134px;
  @include mixins.viewport-mobile {
    display: none;
  }
}
.group-th {
  text-align: start;
  padding-left: 12px;
}
.header-short {
  display: none;
  @include mixins.viewport-mobile {
    display: inline;
  }
}
.header-full {
  display: none;
  @include mixins.viewport-desktop {
    display: inline;
  }
}
.team-name-td {
  text-align: start;
  font-size: 12px;
}
.team-name-td {
  @include mixins.viewport-mobile-mini {
    max-width: 96px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.logo-td img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.rank-td {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
}
.rank-td.first,
.rank-td.second,
.rank-td.third {
  color: v.$white-ff;
  border-radius: 50%;
}
.rank-td.first,
.rank-td.second {
  background-color: v.$blue-mob;
  @include mixins.viewport-desktop {
    background-color: v.$green-deskt;
  }
}

.rank-td.third {
  background-color: v.$bl-mob-second;
  @include mixins.viewport-desktop {
    background-color: v.$bl-deskt-second;
  }
}
.tooltip {
  display: none;
  position: absolute;
  background-color: v.$background-head;
  color: v.$white-ff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 9999;
  top: 110%;
  left: 70px;
  transform: translateX(-50%);
  width: 130px;
}
.rank-td:hover .tooltip {
  display: block;
}
.last .tooltip {
  top: -150%;
}
.games-td,
.wins-td,
.draws-td,
.loses-td,
.points-td,
.score-td {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  @include mixins.viewport-desktop {
    font-size: 15px;
  }
}
.games-td,
.wins-td,
.draws-td,
.loses-td,
.points-td {
  width: 20px;
  @include mixins.viewport-desktop {
    width: 24px;
  }
}
.score-td {
  width: 48px;
  @include mixins.viewport-desktop {
    width: 52px;
  }
}
.tabl-6,
.points-td {
  padding-right: 6px;
  width: 26px;
}
.points-td {
  font-weight: 700;
}
.first-td {
  width: 24px;
  padding-left: 4px;
}
.logo-td {
  width: 80px;
}
