$background-color: #000;
$black-cc: #000000cc;
$yellow-color: #fadb00;
$active-color: #ffce00;
$red-color: #ff4122;
$white-ff: #ffffff;
$color-name: #31c26b;
$border-color: #eeeeee;
$black-b2: #000000b2;
$black-e5: #000000e5;
$black-61: #00000061;
$black-8a: #0000008a;
$color-trend: #0000000d;
$background-green: #25bb1e;
$color-comment: #ffffffb2;
$background-head: #333333;
$table-color: #0000001a;
$blue-mob: #2173d2;
$green-deskt: #00b86c;
$bl-mob-second: #2ea2e5;
$bl-deskt-second: #3188ff;
